nav {
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
    background-color: black;
}
.nav {
    display: inline-block;
    width: 15%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin-left: 2.5%;
    background-color: grey;
}
.navimg {
    display: inline-block;
    vertical-align: top;
}
#navImg {
    
}